.log-item {
  background-color: rgba(0, 0, 0, .5);
  padding: 10px;
  margin-bottom: 10px;
  border-left: 2px solid #000;

  &__action {
    text-align: right;
    font-size: .7rem;
  }
}

.log-showmore {
  text-align: center;
}
