.mode-input,
.weapon-input,
.multi-stage-input,
.stage-input,
.rate-input,
.result-input {
  margin-bottom: 10px;
}

.mode-input,
.result-input {
  text-align: center;

  &__item {
    padding: 0 5px;

    &--checked {
      font-weight: bold;
    }
  }
}

.multi-stage-input {
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;

    & + & {
      margin-top: 10px;
    }

    &__lane {
      margin-right: 10px;
    }
  }
}

.weapon-input,
.stage-input {
  text-align: center;
}

.rate-input {
  display: flex;
  justify-content: center;

  &__rank {
    box-sizing: border-box;
    margin-right: 10px;
  }
  &__point {
    box-sizing: border-box;
    padding: 0 5px;
    width: 50px;
    text-align: center;
  }
}

.input-group {
  margin-bottom: 20px;
}

.recent-log {
  text-align: center;
  font-size: .8rem;
}
