$footer-height: 40px;

.app-name {
  text-shadow: 1px 1px 1px #000, 2px 2px 1px #1AD118;
}

.app {
  position: relative;
}

.log-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform .3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: translate3d(0, 150vh, 0);
  background-color: #000;

  &--opened {
    transform: translate3d(0, 0, 0);
  }
}

.react-tabs {
  padding-bottom: $footer-height;

  &__tab-list {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-height;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 0;
    background-color: #000;
  }

  &__tab {
    flex: 1 1 auto;

    &--selected {
      color: #ED2772;
    }
  }
}

.app-header {
  position: relative;
  height: 40px;
  box-sizing: border-box;
  background-color: #000;
  text-align: center;

  &__title {
    &__icon {
      width: 40px;
      height: 40px;
    }
  }
  &__action {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    height: 40px;
  }
}

.mode-input,
.result-input {
  text-align: center;

  &__item {
    padding: 0 5px;
  }
}

.multi-stage-input {
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;

    & + & {
      margin-top: 10px;
    }

    &__lane {
      margin-right: 10px;
    }
  }
}

.stage-input {
  text-align: center;
}

.rate-input {
  display: flex;
  justify-content: center;

  &__rank {
    margin-right: 10px;
  }
  &__point {
    padding: 0 5px;
  }
}

.single-btn {
  display: block;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  background-color: #FF6E00;
  font-size: 1.3rem;
  cursor: pointer;

  &[disabled] {
    opacity: .5;
  }
}
