html, body {
  height: 100vh;
  background-color: #000;
  background-image: url(../static/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  -webkit-appearance: none;
  background-color: transparent;
  color: #fff;
  border: none;
}

select {
  border-radius: 1px;
}

@font-face {
  font-family: 'ikamodoki';
  src: url('../static/font/ikamodoki1_0.ttf') format('truetype');
}

.ft-ika {
  font-family: 'ikamodoki';
}
